@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  margin: 0;
  padding: 0;
}

.simplebar-scrollbar::before {
  background-color: rgb(216, 211, 211) !important;
}